# Quartus files
**/*.vvp
**/*.vcd
**/*.bak
**/**/*.rpt
**/db
**/incremental_db
**/output_files
**/simulation/qsim
**/simulation/modelsim/rtl_work
**/work

# Compile files
**/modelsim.ini
/libs/lib_*/*
transcript